<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main class="container pt-5">
        <h1>FORM HERE</h1>
    </main>
    <%- include('../includes/end.ejs')%>