<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main class="container">
        <h1><%= pageTitle %></h1>
        <div class="card" style="width: 18rem;">

                <div class="card-body">
                  <h5 class="card-title">Staff details</h5>
                  
                  <a href="#" class="btn btn-primary">Edit</a>
                </div>
              </div>
    </main>
    <%- include('../includes/end.ejs')%>